.block  {
    float: left;
    position: relative;
    top: 0px;
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    margin:20px;
    transition: .4s;
}

.bottom {
    background-color: green;
    top: 400px;
}