*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    top: 20px;
    left: 20px;
    width: 70px;
    position: absolute;
    background-color: lightblue;
     list-style: none; 
     cursor: pointer; 
}

.menuInner {
    position: relative;
    border: 1px solid black;
    padding: 5px;

}

.subMenuInner {
    border: 1px solid black; 
    padding: 5px;
    background-color: rgb(129, 129, 247);
    transition: .4s;
    width: 70px;


}

.subMenu{
    position: absolute;
    display: none;
    list-style: none;
}

.subMenu__hidden {
    visibility: hidden;
}
