.block{
	position: relative;
	width: 50px;
	height: 108px;
	border: 1px solid black;
	margin: 20px;
}

.green {
	position: absolute;
	width: 100%;
	background-color: green;
	bottom: 0;
}
.red {
	position: absolute;
	background-color: red;
	width: 100%;


}

