*{
    list-style: none
}

.repo-table{
   position: relative;
   
}

.repo-table li {
    padding: 5px;
    background-color: lightgrey;
    border-bottom: 1px solid grey;
    width: 200px;
}

.inner-ul {
    position: absolute;
    visibility: hidden;
    width: 250px;
}

.show {
    visibility: visible
}